/* Color Theme Swatches in Hex */
.Upcore-™---Interactive-Prototype-Concept-1-hex { color: #5EF2D7; }
.Upcore-™---Interactive-Prototype-Concept-2-hex { color: #55D9C1; }
.Upcore-™---Interactive-Prototype-Concept-3-hex { color: #F2F1F0; }
.Upcore-™---Interactive-Prototype-Concept-4-hex { color: #A6A6A6; }
.Upcore-™---Interactive-Prototype-Concept-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Upcore-™---Interactive-Prototype-Concept-1-rgba { color: rgba(94, 242, 215, 1); }
.Upcore-™---Interactive-Prototype-Concept-2-rgba { color: rgba(84, 216, 192, 1); }
.Upcore-™---Interactive-Prototype-Concept-3-rgba { color: rgba(242, 240, 239, 1); }
.Upcore-™---Interactive-Prototype-Concept-4-rgba { color: rgba(165, 165, 165, 1); }
.Upcore-™---Interactive-Prototype-Concept-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Upcore-™---Interactive-Prototype-Concept-1-hsla { color: hsla(168, 85, 66, 1); }
.Upcore-™---Interactive-Prototype-Concept-2-hsla { color: hsla(168, 63, 59, 1); }
.Upcore-™---Interactive-Prototype-Concept-3-hsla { color: hsla(22, 8, 94, 1); }
.Upcore-™---Interactive-Prototype-Concept-4-hsla { color: hsla(0, 0, 65, 1); }
.Upcore-™---Interactive-Prototype-Concept-5-hsla { color: hsla(0, 0, 5, 1); }