/* Color Theme Swatches in Hex */
.color-theme_unsplash-1-hex {
  color: #BBB0B6;
}

.color-theme_unsplash-2-hex {
  color: #C7CFD9;
}

.color-theme_unsplash-3-hex {
  color: #04668C;
}

.color-theme_unsplash-4-hex {
  color: #04738C;
}

.color-theme_unsplash-5-hex {
  color: #04C4D9;
}

.Smart-Diffuser-App-1-hex {
  color: #BFBFBF;
}

.Smart-Diffuser-App-3-hex {
  color: #A6A397;
}

.Smart-Diffuser-App-4-hex {
  color: #F2F2F2;
}

.Smart-Diffuser-App-5-hex {
  color: #0D0D0D;
}

@font-face {
  font-family: 'Intro-Free';
  src: url(../css/Fonts/Intro-Free/OTF/IntroDemo-BlackInlineCAPS.otf);
}

@font-face {
  font-family: 'CodePro';
  src: url(../css/Fonts/CodePro/OTF/CodeDemo-Bold.otf);
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #BFBFBF;
  color: #04668C;
  background-image: url(../img/lechat-valentin-Ho17T_ZBJ5k-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  height: 100%;
}

.flex-fill {
  flex: 1;
}

.sidebar {
  background-color: #BFBFBF;
  opacity: 0.7;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}



.fa-bars {
  font-size: 30px !important;
}
.nav-link {
  font-family: 'Intro-Free';
  font-size: larger;
  font-weight: bold;
  color: #0D0D0D;
  margin-left: 1.5rem;
  text-transform: uppercase;
  opacity: 1;
}

/* Style all font awesome icons */
.fab {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  color: #0D0D0D;
  opacity: 1;
}

/* Add a hover effect if you want */
.fab:hover {
  opacity: 0.7;
}

/* Social media icons */
.socials {
  margin-top: 10px;
  font-size: 24pt;
  justify-content: space-around;
}

.rounded-logo {
  margin-left: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9rem;
  box-sizing: border-box;
  width: 125px;
  height: 125px;
  border-radius: 75%;
  border-color: #04668C;
  margin-bottom: 40px;
  display: block;
  box-shadow: 0 0 3px #04668C;
}

.rounded-logo:hover {
  opacity: 0.7;
}

.homepage-title {
  font-family: 'CodePro';
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  text-transform: uppercase;
  color: #04668C;
}

#homepage-title-main {
  font-family: 'Intro-Free';
  color: #0D0D0D;
}

#main-content {
  align-items: center;
}

#homepage-title-main_small {
  font-family: 'Intro-Free';
  color: #0D0D0D;
  flex-wrap: wrap;
}

/* MEDIA QUERIES*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .nav-link {
    font-family: 'Intro-Free';
    font-size: larger;
    font-weight: bold;
    color: #04668C;
    text-transform: uppercase;
    opacity: 1;
  }
  .fab {
    
    font-size: 30px;
    width: 30px;
    text-align: center;
    color: #04668C;
    opacity: 1;
    font-size: large;
  }
  .sidebar {
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 30px 0 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .fab { 
    font-size: 30px;
    width: 30px;
    text-align: center;
    color: #04668C;
    opacity: 1;
    font-size: large;
  }
  .nav-link {
    font-family: 'Intro-Free';
    font-size: larger;
    font-weight: bold;
    color: #0D0D0D;
    text-transform: uppercase;
    opacity: 1;
  }
  .sidebar {
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .fab {
    font-size: 30px;
    width: 30px;
    text-align: center;
    color: #04668C;
    opacity: 1;
  }

  .nav-link {
    font-family: 'Intro-Free';
    font-size: larger;
    font-weight: bold;
    color: #04668C;
    
    text-transform: uppercase;
    opacity: 1;
  }

  .sidebar {
    background-color: #BFBFBF;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .nav-link {
    font-family: 'Intro-Free';
    font-size: larger;
    font-weight: bold;
    color: #0D0D0D;
    margin-left: 1.5rem;
    text-transform: uppercase;
    opacity: 1;
  }

  .fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    color: #0D0D0D;
    opacity: 1;
  }

  .sidebar {
    background-color: #BFBFBF;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .nav-link {
    font-family: 'Intro-Free';
    font-size: larger;
    font-weight: bold;
    color: #0D0D0D;
    margin-left: 1.5rem;
    text-transform: uppercase;
    opacity: 1;
  }

  .fab {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    color: #0D0D0D;
    opacity: 1;
  }

  .sidebar {
    background-color: #BFBFBF;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
}